table {
	width: 774px;
	text-align: center;
	border: none;
}
th {
	background: #eee;
}
tr {
	margin: 0px;
	padding: 2px;
}
tr:hover {
	background: #eee;
}
td {
	margin: 0px;
	padding: 2px;
}
#pictures, #picture {
	position: absolute;
	left: 50%;
	top: 15px;
	margin-left: 310px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 4px #aaa;
}
#pictures {
	top: 165px;
	position: fixed;
}
#pictures img {
	display: none;
}