{% extends "trombi/base.html" %}

{% block content %}

<form method="post" action="{{ request.path }}">

<label for="promo">Promotion :</label>
<input type="text" value="{{ mineur.get_profile.promo }}" name="promo">
<label for="phone">Téléphone :</label>
<input type="text" value="{{ mineur.get_profile.phone }}" name="phone">
<label for="chambre">Chambre :</label>
<input type="text" value="{{ mineur.get_profile.chambre }}" name="chambre">
<label for="option">Option :</label>
<input type="text" value="{{ mineur.get_profile.option }}" name="option">

<input type="submit" />
</form>
<div id="picture">
<img src="https://sgs.mines-paristech.fr/prod/file/sgs/ensmp/20112012/photo/{{ mineur.username }}.jpg" />
</div>

{% endblock %}
