{% extends "petitscours/base.html" %}

{% block content %}

<p>{{ cours_list|length }} petits cours trouvés. <a href="/petitscours/admin/add">Ajouter un petit cours</a></p>

<dl>
{% for cours in cours_list %}
<dt>{{ cours.title }} ajouté le {{ cours.date_added|date:"d/m/Y"}}{% if not cours.visible %} retiré le {{ cours.date_given|date:"d/m/Y" }}{% endif %}</dt>
<dd{% if not cours.visible %} class="given"{% endif %}>matiere : {{ cours.matiere }}, niveau {{ cours.niveau }}<br />{{ cours.description }} à {{ cours.location }}<br />{{ cours.requests.count }} demandes<br />
<ul>
{% for request in cours.requests.all %}
<li>{{ request.login }} <a href="/petitscours/admin/give/{{ cours.id }}/{{ request.login }}">attribuer</a></li>
{% endfor %}
</ul>
</dd>
{% endfor %}
</dl>

<h2>Derniers cours archivés</h2>
<a href="/petitscours/admin/archive">Voir tous les cours archivés</a>
<dl>
{% for cours in archive_list %}
<dt>{{ cours.title }} ajouté le {{ cours.date_added|date:"d/m/Y"}}{% if not cours.visible %} retiré le {{ cours.date_given|date:"d/m/Y" }}{% endif %}</dt>
<dd{% if not cours.visible %} class="given"{% endif %}>matiere : {{ cours.matiere }}, niveau {{ cours.niveau }}<br />{{ cours.description }} à {{ cours.location }}<br />{{ cours.requests.count }} demandes<br />
<ul>
{% for request in cours.requests.all %}
<li>{{ request.login }} <a href="/petitscours/admin/give/{{ cours.id }}/{{ request.login }}">attribuer</a></li>
{% endfor %}
</ul>
</dd>
{% endfor %}
</dl>

{% endblock %}
