{% extends "petitscours/base.html" %}

{% block content %}

<a href="/petitscours/admin/">retourner a l'administration</a>
<a href="/petitscours/admin/archive/{{ next }}">Cours plus anciens</a>
<a href="/petitscours/admin/archive/{{ previous }}">Cours plus récents</a>

<dl>
{% for cours in archive_list %}
<dt>{{ cours.title }} ajouté le {{ cours.date_added|date:"d/m/Y"}}{% if not cours.visible %} retiré le {{ cours.date_given|date:"d/m/Y" }}{% endif %}</dt>
<dd{% if not cours.visible %} class="given"{% endif %}>matiere : {{ cours.matiere }}, niveau {{ cours.niveau }}<br />{{ cours.description }} à {{ cours.location }}<br />{{ cours.requests.count }} demandes<br />
<ul>
{% for request in cours.requests.all %}
<li>{{ request.login }} <a href="/petitscours/admin/give/{{ cours.id }}/{{ request.login }}">attribuer</a></li>
{% endfor %}
</ul>
</dd>
{% endfor %}
</dl>

{% endblock %}
