{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/media/petitscours.css" />
    <link rel="stylesheet" href="/media/list.css" />
	<title>Petits Cours</title>
{% endblock %}
