{% extends "petitscours/base.html" %}

{% block content %}

<p>{{ cours_list|length }} petits cours trouvés</p>

<dl>
{% for cours in cours_list %}
<dt>{{ cours.title }} ajouté le {{ cours.date_added|date:"d/m/Y"}}</dt>
<dd><b>Matière: </b>{{ cours.matiere }} <b>Niveau: </b>{{ cours.niveau }}<br />
<b>Lieu: </b>{{ cours.location }}<br />
{{ cours.description }}
<br />{{ cours.requests.count }} demandes. <a href="/petitscours/request/{{ cours.id }}">Demander ce petit cours</a></dd>
{% endfor %}
</dl>

{% endblock %}
