{% extends "base.html" %}

{% block content %}
	<p>Bid Bada Boom (erreur 500)</p>
	<iframe width="853" height="480" src="http://www.youtube.com/embed/j8WLYzA0lCs" frameborder="0" allowfullscreen></iframe>
{% endblock %}
