<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/media/script.js"></script>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/media/styles.css" />
	{% block header %}{% endblock %}
</head>

<body>

<div id="wrap">

	<div id="header">
		<img src="/media/logo-mines.png" />
		<h1>Les élèves des Mines</h1>
		<div id="login">{% if user.is_authenticated %}
		<a href="/people/{{ user.username }}">{{ user.username }}</a> - <a href="/accounts/logout">Logout</a>
		{% else %}
		Vous n'êtes pas identifié<br /><a href="/accounts/login?next={{ request.get_path }}">S'identifier</a>
		{% endif %}</div>

	</div>
	{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<div id="content">
	    {% block content %}{% endblock %}
	</div>
</div>

</body>
</html>
