html, body, #content {
	font-size: 0.9em;
	font-family: Verdana,serif;
	background: #eee;
}
h1, h2 {
	font-family: Georgia;
}
#header {
	margin: 5px;
	height: 90px;
	overflow: auto;
	position: relative;
	border-bottom: 1px #eee solid;
}
#header img {
	float: left;
}
#login {
	position: absolute;
	top: 4px;
	right: 4px;
}
#content {
	position: relative;
	width: 950px;
	margin: 50px auto;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 240px;
}
#messages {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 250px;
	background: #FFCC99;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	z-index: 15;
}
#messages li {
	list-style: none;
}